<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="static/assets/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FGIC Portal</title>
  <link rel="stylesheet" href="static/assets/main.css">
</head>

<body>
  <h1 class="p-1">FGIC Portal</h1>
  <div class="m-1 row align-items-center">
    <div class="col-9">
      <!-- <select id="filePaths" name="filePaths" class="form-control">
        <option value="">Select a file path</option>
      </select> -->
    <input type="text" class="form-control" id="imageURLInput"  placeholder="Enter Image URL">
      
    </div>
    <div class="col-3">
      <button class="btn btn-primary m-1" id="showImageBtn">Show Image</button>
    </div>
  </div>

  <div id="map" class="map"></div>
  <!-- <div class="d-flex">
    <a class="btn btn-primary m-1" href="/admin">Admin Panel</a>
    
    <a class="btn btn-primary m-1" href="http://127.0.0.1:5500/stac-catalog/catalog.json">Stac Catalog</a>
    <a class="btn btn-primary m-1" href="{% url 'stac-list' %}">View Stac Catalog</a>
    <a class="btn btn-primary m-1" href="http://127.0.0.1:5500/Ingested_folder/">Static Resources</a>
    <a class="btn btn-primary m-1" href="http://127.0.0.1:5500/logs/ingestion-engine.log">Logs</a>
  </div> -->
  
  <script type="module" src="/static/index.js">
  
</script>
</body>

</body>
</html>