@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ol/ol.css";

body {
  background: rgb(251, 255, 254);
  background: linear-gradient(90deg, rgba(251, 255, 254, 1) 0%, rgb(222, 235, 242) 100%);
  height: 100vh;
  width: 100vw;
}

#map {
  height: 85vh;
  width: 100%;
}